/* TODO: add our own font */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* TODO: add primary, secondary, etc. variables */
  --primary-color: #d1345b;
  --secondary-color: #34d1bf;
  --secondary-color-accent: #2eb5a8;
  --border-radius: 10px;
}

body {
  margin: 0;
}

.center-horizontally {
  display: flex;
  width: 100%;
  justify-content: center;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .go-back {
  display: flex;
  width: 150px;
}
.container .go-back * {
  margin: 1.5px;
}

.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.divider-with-text > .divider {
  flex-grow: 1;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 20px;
}

.divider-with-text > .content {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #e0e0e0;
}

.container {
  background-color: var(--primary-color);
  /* TODO: make size responsive */
  width: 400px;
  /* vertical horizontal */
  padding: 25px 30px;
  border-radius: var(--border-radius);
}

.container * {
  /* vertical horizontal */
  margin: 10px 0;
  font-size: 16px;
}

.container input[type='text'] {
  width: 100%;
  padding: 16px 20px;
  display: inline-block;
  border: 0;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: white;
  transition: background-color 0.2s ease;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 5px;
  border: 1px solid #000000;
}

.container input[type='text']:hover {
  background-color: rgb(230, 230, 230);
}

.container input[type='text']:focus {
  background-color: white;
  outline: none;
}

.container button {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  transition: background-color 0.1s ease;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 5px;
  border: 1px solid #000000;
}
.container button:hover {
  background-color: var(--secondary-color-accent);
  cursor: pointer;
}

.container .slider-flex {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.container .slider-flex p {
  color: white;
  font-size: 18px;
  margin-right: 10px;
  font-weight: 700;
}

.container .slider-flex input[type='range'] {
  flex-grow: 1;
  height: 5px;
  border-radius: 5px;
  background: white;
  opacity: 0.7;
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--secondary-color-accent);
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: var(--secondary-color-accent);
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: var(--secondary-color);
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type='range']::-ms-fill-upper {
  background: var(--secondary-color);
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: var(--secondary-color-accent);
}
input[type='range']:focus::-ms-fill-upper {
  background: var(--secondary-color);
}

.container .slider-flex input[type='number'] {
  margin-left: 10px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 1px #000000;
  border-radius: 5px;
  border: 1px solid #000000;
}
.container .slider-flex input[type='number']::-webkit-outer-spin-button,
.container .slider-flex input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
