/* TODO: add our own font */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* TODO: add primary, secondary, etc. variables */
  --primary-color: #d1345b;
  --primary-color-accent: #b52e4f;
  --secondary-color: #34d1bf;
  --secondary-color-accent: #2eb5a8;
  --content-background-color: rgb(231, 231, 231);
  --border-radius: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.center-horizontally {
  display: flex;
  width: 100%;
  justify-content: center;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.space-between-flex {
  display: flex;
  justify-content: space-between;
}

.space-around-flex {
  display: flex;
  justify-content: space-around;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inline-children {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.divider-with-text > .divider {
  flex-grow: 1;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 20px;
}

.divider-with-text > .content {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #e0e0e0;
}

.container {
  background-color: var(--primary-color);
  /* TODO: make size responsive */
  width: 400px;
  /* vertical horizontal */
  padding: 25px 30px;
  border-radius: var(--border-radius);
}

.container * {
  /* vertical horizontal */
  margin: 10px 0;
  font-size: 16px;
}

.container input[type='text'] {
  width: 100%;
  padding: 16px 20px;
  display: inline-block;
  border: 0;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: white;
  transition: background-color 0.2s ease;
}

.container input[type='text']:hover {
  background-color: rgb(230, 230, 230);
}

.container input[type='text']:focus {
  background-color: white;
  outline: none;
}

.container button {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  transition: background-color 0.1s ease;
}
.container button:hover {
  background-color: var(--secondary-color-accent);
  cursor: pointer;
}

.container .slider-flex {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.container .slider-flex p {
  color: white;
  font-size: 18px;
  margin-right: 10px;
  font-weight: 700;
}

.container .slider-flex input[type='range'] {
  flex-grow: 1;
}

.container .slider-flex input[type='number'] {
  margin-left: 10px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: var(--border-radius);
}

.game-grid {
  display: grid;
  height: auto;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  gap: 10px;
  grid-template-columns: 1fr 400px 105px;
}

.game-grid > .panel {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--content-background-color);
  border-radius: var(--border-radius);
}

.account {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10px 20px;
  overflow: hidden;
}

.account > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.account .holdings-parent {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.account .holdings {
  position: relative;
  display: grid;
  flex-grow: 1;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  overflow-y: auto;
}

.end-fade {
  position: absolute;
  bottom: 0;
  margin: 0 !important;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    0deg,
    var(--content-background-color) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.holdings * {
  font-size: 22px;
  margin: 15px 0px;
}

.holdings .symbol {
  /* font-weight: 700; */
  justify-self: start;
  font-family: 'IBM Plex Mono', monospace;
}
.holdings .quantity {
  justify-self: center;
  font-family: 'IBM Plex Mono', monospace;
}
.holdings .value {
  justify-self: end;
  font-family: 'IBM Plex Mono', monospace;
}

.account > .trade {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.account > .trade h2 {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  margin-bottom: 10px;
}

.account > .trade input[type='number'] {
  margin: 10px 0;
  padding: 12px;
  font-size: 18px;
  background-color: white;
  border: none;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease;
}

.account > .trade input[type='number']:hover {
  background-color: rgb(245, 245, 245);
}

.account > .trade button {
  flex-grow: 1;
  margin-top: 18px;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  transition: background-color 0.1s ease;
}

.sell {
  background-color: var(--primary-color);
  margin-right: 10px;
}
.sell:hover {
  background-color: var(--primary-color-accent);
}

.buy {
  background-color: var(--secondary-color);
  margin-left: 10px;
}
.buy:hover {
  background-color: var(--secondary-color-accent);
}
